
.experience{
  width: 100%;
  h1{
    margin-bottom: 10px;
  }
}
.experience__item{
  border-radius: 10px;
  margin-bottom: 10px;
  //width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns:120px 70%;
  color: white;
  background-color: #1a1a1a;

  span.experience__date{
    @media screen and (max-width: 500px) {
      font-size: 1rem;
      margin-right: 10px;
    }
  }

  article{


    h3{
      font-size: 1.5rem;

      @media screen and (max-width: 500px) {
        font-size: 1.3rem;
      }
    }
    p{
      font-size: 1rem;
      text-align: justify;

    }
    ul{
      padding: 10px 20px;
    }
    span.experience__link{
      margin-bottom: 10px;
      a{
        color: #cce171;
        word-wrap: break-word;
      }

    }
  }
  @media screen and (max-width: 500px) {
    grid-template-columns: 80px 70%;
  }
  @media screen and (min-width: 2560px) {
    grid-template-columns: 150px 70%;
  }

}